md-dialog(aria-label="Edit Employee" flex="50")
  md-toolbar
    .md-toolbar-tools
      h2 Edit {{employee.name}} {{employee.birth_date | date: 'm/d/yyyy'}}
  form(name="employeeForm" ng-submit="updateEmployee(employee)" novalidate)
    md-dialog-content.md-padding
      div(layout="row")
        md-input-container(flex)
          label Name
          input(ng-model="employee.name" type="text" name="employee.name" required)
        md-input-container(flex)
          label Birth Date
          md-datepicker(ng-model="employee.birth_date" type="text" name="employee.birth_date" required)
      md-input-container.md-block
        label Email
        input(ng-model="employee.email" type="text" name="employee.email" required)
      md-input-container.md-block
        label Information
        textarea(ng-model="employee.description" rows="5" name="employee.description" required)
    md-dialog-actions
      md-button(aria-label="Save Employee" type="submit" ng-disabled="employeeForm.$invalid") Update Employee
